---
---
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Article">
    <div class="metabar metabar-header">
  <div class="metabar-inner">
    <div class="quote-div">
      <a href="http://myblog.***.***" class="logo-readium"><span class="logo" style="background-image: url(/assets/images/rh_logo.png)"></span></a>
    </div>
  </div>
</div>

<div class="sectionbar sectionbar-header">
  <div class="sectionbar-inner">
    
</div>
    <div class="author-strip">
      <div class="author-strip-inner">
        <div class="author-image" style="background-image: url(/assets/images/author.jpg)">Blog Logo</div>
        <div class="author-detail">
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">Shreyas R H</h4>
          <h5 class="author-name"> Senior Software Engineer @ Practo </h5>
          <time>B.E, Electrical & Electronics Engineering</time>
          <span class="middot">&#183;</span>
          <time>Global Academy Of Technology</time>
          <div class="about-me-social" style="font-size: 10px">
        
          
              <a class="icon-github-alt" href="https://github.com/shreyasrh9/shreyasrh9.github.io"  title="Gihub Project" target="_blank" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-github-alt fa-stack-1x"></i>
                </span>
              </a>
          
        
          
              <a class="icon-facebook" href="https://www.facebook.com/shreyas.halageri"  title="Facebook" target="_blank" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
          
        
          
              <a class="icon-twitter" href="https://twitter.com/rh_shreyas"  title="Twitter" target="_blank" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
          
        
          
              <a class="icon-linkedin" href="https://www.linkedin.com/in/shreyas-r-h-8a74b8a2/"  title="LinkedIn" target="_blank" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
              </a>
          
        
          
              <a class="icon-envelope" href="mailto:shreyas.rh9@gmail.com"  title="E-mail" target="_blank" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
              </a>
          
        
      </div>
        </div>
      </div>
    </div>
    
    <main class="content post-content" role="main">
        <h2 class="post-description" style="font-size: 17px; font-weight: 200;">I am Shreyas, a Senior Software Engineer </h2>
        <h2 class="post-description" style="font-size: 17px; font-weight: 200;">At <a href="https://www.practo.com" target="_blank" style="color: black; font-weight: 600; text-decoration: none;">Practo</a>, I work on a product called <a href="https://www.practo.com/providers/hospitals/querent" target="_blank" style="color: black; font-weight: 600; text-decoration: none;">Querent</a> and provide solutions to the clients as a senior developer.
        <h2 class="post-description" style="font-size: 17px; font-weight: 200; text-decoration: none ">Before being a part of Practo, I was a Software Engineer at Infosys, working for <a href="https://www.rbs.com/" target="_blank" style="color: black; font-weight: 600; text-decoration: none;">Royal Bank of Scotland</a> as a developer.
        <h2 class="post-description" style="font-size: 17px; font-weight: 200; text-decoration:none; ">I am an alumni from <a href="http://www.gat.ac.in/" target="_blank" style="color: black; font-weight: 600; text-decoration: none;">Global Academy of Technology (GAT)</a>.</h2>
        <h2 class="post-description" style="font-size: 17px; font-weight: 200; text-decoration: none ">Also a active participant in <a href="https://www.hackerearth.com/@shreyas.rh151" style="color: black; font-weight: 600; text-decoration: none;">Hacker Earth</a> a global hub of millions of developers. This <a href="https://shreyasrh9.github.io/" style="color: black; font-weight: 600; text-decoration: none;">website</a> is built and maintained by me personally. It helps me to learn new stuff by writing and explaining things. Any improvements or suggestions are welcome.</h2>
        
        <section class="post-content">
          <a name="topofpage"></a>
       </section>
        <h2 class="post-description" style="font-size: 17px; font-weight: 200;">CV: <a href="/resume.pdf" target="_blank" style="color: balck; font-weight: 600; text-decoration: none;">Download</a></h2>
    </main>
    
    <div class="horizontal-divider">&#183; &#183; &#183;</div>
    <!-- footer start -->
<footer class="post-footer">
          <section class="share">
            
              
                <a class="icon-twitter" href="http://twitter.com/share?text=Mediator+Features&amp;url=http://myblog.***.***/mediator/feature/2014/11/30/mediator_features"
                  onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
                <i class="fa fa-twitter"></i><span class="hidden">twitter</span>
                </a>
              
            
              
            
          </section>
        </footer>

        <div class="bottom-closer">
      <div class="background-closer-image"  style="background-image: url(/assets/images/welcome.jpg)">
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">Code Viz Cafe</h1>
        <h2 class="blog-description">A Jekyll theme - Medium inspired
</h2>
        <a href=/ class="btn">Back to Overview</a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/js/readingTime.min.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>
<script>
(function ($) {
  "use strict";
  $(document).ready(function(){
    var $window = $(window),
    $image = $('.post-image-image, .teaserimage-image');
    
      $window.on('scroll', function() {
        var top = $window.scrollTop();
        if (top < 0 || top > 1500) { return; }
        $image
          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
          .css('opacity', 1-Math.max(top/700, 0));
      });
      $window.trigger('scroll');
      var height = $('.article-image').height();
      $('.post-content').css('padding-top', height + 'px');
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
         && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({ scrollTop: target.offset().top }, 500);
            return false;
          }
        }
      });
  });
}(jQuery));
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/public/js/typed.js"></script>
<script>
  $(function(){
    $(".blog-description").typed({
      strings: ['Mathematics, Machine Learning, Natural Language Processing Etc.'],
      typeSpeed: 50,
      backSpeed: 25,
      loop: true
    });
  });
</script>



<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-108148924-1', 'auto');
ga('send', 'pageview');
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=391866664565981';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
